.back-button {
  display: table;
  margin-bottom: 10px;
  color: white;
  mix-blend-mode: difference;
  cursor: pointer;
  font-size: 17px;
  background: none;
}

.back-button>.back-icon {
  display: inline-block;
  transition: transform 0.2s;
}

.back-button:hover>.back-icon {
  transform: translateX(-3px);
}