.wrapper--greeting {
  width: 100%;
  position: relative;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)),
    url(../assets/home/projects/motordebate.gif);
  background-size: cover;
  background-position: center 20%;
  display: table;
}
.wrapper--greeting .content {
  padding-top: 100px;
  padding-bottom: 50px;
}
#greeting {
  font-size: 100px;
  display: block;
  color: white;
  line-height: 100px;
  font-family: "Bebas Neue", cursive;
  mix-blend-mode: difference;
}
.wrapper--about {
  width: 100%;
  background: #f2f2f2;
}
.wrapper--about .content {
  display: table;
}
#about__overview {
  width: 50%;
  display: table-cell;
  padding-right: 10%;
  vertical-align: top;
}
#about__palette {
  width: 50%;
  text-align: right;
  display: table-cell;
  padding-left: 30px;
  vertical-align: top;
}
#overview-1,
#palette-1 {
  display: block;
  margin-bottom: 20px;
  font-weight: bold;
}
#overview-2 {
  font-size: 16px;
  color: #444444;
}
#palette-2 {
  display: table;
  width: 100%;
  table-layout: fixed;
  height: 100px;
  border-spacing: 20px;
}
#palette__spacing {
  margin-left: -20px;
  margin-right: -20px;
}
.palette__color {
  display: table-cell;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
}
.wrapper--design {
  background: white;
  padding-bottom: 30px;
}
#design-1 {
  display: block;
  font-weight: bold;
  text-align: center;
}
#design-2 {
  display: table;
  margin: auto;
  max-width: 500px;
  margin-top: 20px;
  font-size: 16px;
  color: #777777;
}
#design-3 {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 30% 30% 40%;
  grid-template-rows: auto auto;
}
#design-3 input {
  display: none !important;
}
#design-3 label {
  position: relative;
  padding: 15px;
  cursor: pointer;
  user-select: none;
}
#design-3 label > div:before {
  position: absolute;
  content: "";
  background-image: linear-gradient(
    to bottom right,
    rgb(210, 110, 16),
    rgba(210, 110, 16, 0.85)
  );
  width: 100%;
  height: 100%;
  z-index: 10;
  transition: width 0.6s cubic-bezier(1, 0.02, 0.51, 0.92),
    height 0.6s cubic-bezier(1, 0.02, 0.51, 0.92);
}
#tile-2 > div:before {
  right: 0;
  background-image: linear-gradient(
    to top right,
    rgb(210, 110, 16),
    rgba(204, 116, 2, 0.85)
  ) !important;
}
#tile-3 > div:before {
  background-image: radial-gradient(
    circle at left center,
    rgba(210, 110, 16, 0.85),
    rgb(210, 110, 16)
  ) !important;
}
#design-3 label > div:after {
  position: absolute;
  right: 20px;
  bottom: 0;
  font-size: 80px;
  line-height: 80px;
  font-family: "Bebas Neue", cursive;
  color: white;
  z-index: 20;
  transition: color 0.6s cubic-bezier(1, 0.02, 0.51, 0.92);
}
#tile-1 > div:after {
  content: "1";
}
#tile-2 > div:after {
  content: "2";
}
#tile-3 > div:after {
  content: "3";
}
#tile-1 > div:hover:before,
#tile-2 > div:hover:before {
  width: 0;
}
#tile-3 > div:hover:before {
  height: 0;
}
#design-3 label > div:hover:after {
  color: #bb610e;
}
#design-3 label > div > div:before,
#design-3 label > div > div:after {
  content: "Before";
  position: absolute;
  bottom: 5px;
  left: 10px;
  font-family: "Bebas Neue", cursive;
  font-size: 30px;
  color: #bb610e;
  transition: opacity 0.2s, transform 0.2s;
}
#design-3 label > div > div:after {
  content: "After";
  opacity: 0;
  transform: translateY(-15px);
}
#design-3 label img {
  width: 100%;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
  transition: opacity 0.2s;
}
#design-3 label div {
  position: relative;
}
#design-3 label img:last-child {
  display: none;
}
#design-3 input:checked + label img:first-child {
  display: none;
}
#design-3 input:checked + label img:last-child {
  display: inline;
}
#design-3 input:checked + label > div > div:before {
  opacity: 0;
  transform: translateY(15px);
}
#design-3 input:checked + label > div > div:after {
  opacity: 1;
  transform: translateY(0);
}
#tile-1 {
  grid-column-start: 1;
  grid-column-end: 3;
}
#tile-2 {
  grid-column-start: 1;
  grid-column-end: 3;
}
#tile-3 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
}
.wrapper--backend {
  background: #262626;
}
#backend__oop {
  width: 50%;
  display: table-cell;
  padding-right: 30px;
  vertical-align: top;
}
#backend__security {
  width: 50%;
  display: table-cell;
  padding-left: 30px;
  vertical-align: top;
}
.backend-1 {
  color: white;
  font-weight: bold;
  display: block;
  margin-bottom: 20px;
}
.backend-2 {
  color: #cccccc;
  font-size: 16px;
}
.backend-3 {
  font-family: "Courier Prime";
  background: #fefcf5;
  padding: 15px;
  color: #000080;
  margin-top: 20px;
  font-size: 13px;
}
.backend-3 b {
  color: #0000ff;
}
.backend-3 a {
  color: #008000;
}
.backend-3 i {
  font-style: normal;
  color: #808080;
}
@media only screen and (max-width: 1200px) {
  #design-3 label {
    padding: 10px;
  }
  #design-3 label > div > div:before,
  #design-3 label > div > div:after {
    font-size: 25px;
  }
  #design-3 label > div:after {
    right: 10px;
    font-size: 60px;
    line-height: 60px;
  }
}
@media only screen and (max-width: 992px) {
  #greeting {
    font-size: 80px;
  }
  #about__overview,
  #backend__oop {
    width: 100%;
    display: table-row;
  }
  #about__palette,
  #backend__security {
    width: 100%;
    padding: 0;
    padding-top: 50px;
    text-align: left;
  }
  #design-3 {
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto;
  }
  #tile-1,
  #tile-2,
  #tile-3 {
    grid-column-start: 1;
    grid-column-end: 2;
  }
  #tile-1 {
    grid-row-start: 1;
    grid-row-end: 2;
  }
  #tile-2 {
    grid-row-start: 2;
    grid-row-end: 3;
  }
  #tile-3 {
    grid-row-start: 3;
    grid-row-end: 4;
  }
}
@media only screen and (max-width: 576px) {
  #design-1 {
    text-align: left;
  }
}
