.Page__Content {
  position: relative;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.Page__Content::-webkit-scrollbar {
  display: none;
}
.Page__Content h3 {
  padding-top: 10vmin;
}

.Page__Content--Scrollable {
  mask: linear-gradient(
      var(--fade-direction),
      rgba(0, 0, 0, 0) 0,
      rgba(0, 0, 0, 1) 1rem,
      rgba(0, 0, 0, 1) calc(100% - var(--padding-y)),
      rgba(0, 0, 0, 0) 100%
    )
    0 0 / 100% 100%;
}
/*
 * Empty padding space inserted at the ends of content
 * so text can be scrolled into center view
 */
.Yang .Page__Content--Scrollable:before {
  content: "⚊";
  display: block;
  height: 1rem;
  line-height: 1rem;
  opacity: 0.5;
}
.Yang .Page__Content--Scrollable:after,
.Yin .Page__Content:before {
  content: "";
  display: block;
  width: 100%;
  height: var(--padding-y);
}
