.Home .Yin .Page__Content {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  height: 100%;
}
.Home__Links {
  width: 100%;
}

.Home .Yin a {
  display: block;
  color: white;
  text-decoration: none;
  width: 100%;
  font-size: clamp(1.2rem, 1.8vmax, 2rem);
  font-weight: 600;
  opacity: 0.7;
  transition: opacity 0.2s ease;
  margin: 4vmin 0 4vmin 0;
  text-transform: uppercase;
}
.Home .Yin a:hover {
  opacity: 0.9;
}
