.BaguaCycle {
  margin: 5vh 0;
}
.Image img {
  width: 15vmax;
}

.TrigramCaptions {
  display: inline-flex;
  flex-direction: var(--direction);
  flex-wrap: wrap;
  gap: 0.5vmax;
}
.TrigramCaptions p {
  display: flex;
  flex-direction: column;
  width: 10vw;
  min-width: 100px;
  flex-grow: 2;
  font-size: clamp(0.6rem, 0.9vmax, 0.9rem);
}

.SharpAngle {
  margin-top: 5vh;
  margin-bottom: 3vh;
  margin-right: 1vw;
}
.DullAngle {
  margin-bottom: 5vh;
}
