.YinYang .Image {
  margin: 5vmin 0;
}
.YinYang .Image {
  width: 15vmax;
}

.YinYang .BaguaCycle .Image {
  justify-content: flex-start;
}

.YinYang .TrigramCaptions {
  display: inline-flex;
  flex-direction: var(--tag-direction);
  flex-wrap: wrap;
  gap: 0.5vmax;
}
.YinYang .TrigramCaptions p {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 10vw;
  min-width: 100px;
  font-size: clamp(0.6rem, 0.9vmax, 0.9rem);
}

.YinYang .SharpAngle {
  margin-bottom: 3vh;
  margin-right: 1vw;
}
.YinYang .DullAngle {
  margin-top: 0;
  margin-bottom: 5vh;
}
.YinYang .ShellSlant {
  width: 25vmax;
}
