.Wrapper {
  --theta: 0deg;
  --direction: row;
  --yin: right;
  --yang: left;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.Wrapper--Reverse {
  --direction: row-reverse;
  --yin: left;
  --yang: right;
}
