.Split {
  position: fixed;
  top: 0;
  left: 50vw;
  transform-origin: 0 50%;
  backdrop-filter: invert(100%) brightness(110%);
  z-index: -1;
  transition: rotate 0.7s ease;
}
.Wrapper {
  width: 100vw;
  height: 100vh;
}
