.ProjectSlide {
  width: 1000px;
  position: relative;
  background: black;
  mask-size: cover;
  mask-position: center;
  background-color: var(--primary);
  padding: 40px;
}

.ProjectSlide__Title {
  font-size: 40px;
  color: white;
}
