.BackButton {
  display: table;
  margin-bottom: 10px;
  color: white;
  mix-blend-mode: difference;
  cursor: pointer;
  font-size: 17px;
  background: none;
}

.BackButton > .BackButton__Icon {
  display: inline-block;
  transition: transform 0.2s;
}

.BackButton:hover > .BackButton__Icon {
  transform: translateX(-3px);
}
