.URL {
  position: relative;
  display: inline-flex;
  color: inherit;
  text-decoration: none;
  margin: 0 0.1rem;
  padding: 0 0.5rem;
  font-size: inherit;
  align-items: center;
  transition: background 0.2s ease;
  line-height: normal;
  vertical-align: text-bottom;
}
.Yang .URL {
  background: rgba(0, 0, 0, 0.1);
}
.Yin .URL {
  background: rgba(255, 255, 255, 0.25);
}
.Yang .URL:hover {
  background: rgba(0, 0, 0, 0.15);
}
.Yin .URL:hover {
  background: rgba(255, 255, 255, 0.35);
}
.URL svg {
  margin-right: 0.5rem;
  opacity: 0.5;
}
