.URL {
  position: relative;
  display: inline-flex;
  color: inherit;
  background: rgba(127, 127, 127, 0.3);
  text-decoration: none;
  margin: 0 0.1rem;
  padding: 0 0.5rem;
  font-size: inherit;
  align-items: center;
  transition: background 0.2s ease;
  line-height: normal;
  vertical-align: text-bottom;
}
.URL svg {
  margin-right: 0.5rem;
  opacity: 0.5;
}
.URL:hover {
  background: rgba(127, 127, 127, 0.4);
}
