.URL {
  position: relative;
  display: inline-flex;
  color: inherit;
  background: rgba(127, 127, 127, 0.2);
  text-decoration: none;
  margin: 0 2px 0 2px;
  padding: 0 5px 0 5px;
  font-size: inherit;
  align-items: center;
  transition: background 0.2s ease;
}
.URL svg {
  margin-right: 5px;
  opacity: 0.5;
}
.URL:hover {
  background: rgba(127, 127, 127, 0.4);
}
