.Page {
  --padding-y: 10vh;
  --padding-x: 8vw;
  --direction: row;
  --yin: right;
  --yang: left;
  display: flex;
  flex-direction: var(--direction);
  justify-content: space-between;
}
.Page--Reverse {
  --direction: row-reverse;
  --yin: left;
  --yang: right;
}
.Page__Header {
  padding-top: 2vh;
  padding-bottom: 4vh;
  color: #191919;
}
.Page__Title,
.Page__Subtitle {
  margin: 0;
}
.Page__Title {
  width: 100%;
  text-transform: uppercase;
}
.Page__Tags {
  display: inline-flex;
  flex-direction: var(--direction);
  flex-wrap: wrap;
  gap: 0.5vw;
}
.Page__Tag {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  box-decoration-break: clone;
  padding: 0.1rem 0.5rem 0.1rem 0.5rem;
  background: rgba(127, 127, 127, 0.2);
  font-size: clamp(1rem, 1.5vmax, 1.2rem);
  font-weight: 500;
}
.Page__Tag svg {
  height: clamp(1.8rem, 2.7vmax, 2.16rem);
  opacity: 0.7;
}
/*
 * "Greater yin/yang" half-page section containers
 */
.Yin,
.Yang {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: calc(50% - var(--slant-width));
  padding: var(--padding-y) var(--padding-x) var(--padding-y) var(--padding-x);
}
.Yin {
  --fade-direction: to top;
  font-family: "Sometype Mono", sans-serif;
  text-align: var(--yin);
  color: white;
  padding-top: 0;
}
.Yang {
  --fade-direction: to bottom;
  font-family: "Lora", sans-serif;
  text-align: var(--yang);
  color: black;
  padding-bottom: 0;
}
.Yin ::selection {
  background: rgba(255, 255, 255, 0.8);
  color: black;
}
.Yang ::selection {
  background: rgba(0, 0, 0, 0.8);
  color: white;
}
/*
 * "Lesser yin/yang" bars of opposite color above
 * or below content
 */
.Yin__Lesser,
.Yang__Lesser {
  position: absolute;
  width: calc(100% - (2 * var(--padding-x)));
  height: 0.3vh;
}
.Yang__Lesser {
  bottom: var(--padding-y);
  right: var(--padding-x);
}
.Yin__Lesser {
  top: var(--padding-y);
  left: var(--padding-x);
}
.Yin__Lesser:before,
.Yang__Lesser:before {
  content: "";
  position: relative;
  height: 100%;
  width: 50%;
  background: red;
  display: block;
}
.Yin__Lesser:before {
  background: rgba(0, 0, 0, 0.3);
  float: var(--yang);
}
.Yang__Lesser:before {
  background: rgba(255, 255, 255, 0.3);
  float: var(--yin);
}
