:root {
  --white: white;
  --black: black;
}
html {
  height: 100%;
}
body {
  font-family: "Alata", Calibri, sans-serif;
  margin: 0;
  background-color: var(--black);
  background-image: url(assets/suminagashi.png);
  background-size: 100% 100%;
  overflow: hidden;
}
.white-wrapper {
  position: fixed;
  left: 0;
  width: 100vw;
  top: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.white {
  transform: rotate(0deg);
  transform-origin: 50% 0;
  animation: spin 100s infinite linear;
  backdrop-filter: invert(100%) brightness(120%);
  display: table;
}
