:root {
  --white: white;
  --black: black;
}
html {
  height: 100%;
}
body {
  font-family: "Alata", Calibri, sans-serif;
  margin: 0;
  background-color: var(--black);
  background-image: url(assets/suminagashi.png);
  background-size: 100% 100%;
  overflow: hidden;
}
.white {
  position: fixed;
  left: 50vw;
  transform: rotate(60deg);
  transform-origin: 0 50%;
  backdrop-filter: invert(100%) brightness(110%);
}
