:root {
  --white: white;
  --black: black;
}
html {
  height: 100%;
}
body {
  font-family: "Alata", Calibri, sans-serif;
  margin: 0;
  background-color: var(--black);
  background-image: url(assets/suminagashi.png);
  background-size: calc(max(100%, 1000px));
  background-position: center;
  overflow: hidden;
}
