.Image {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.Image__Source {
  margin-bottom: 2vh;
  width: 100%;
}
.Image__Caption {
  font-style: italic;
  text-align: center;
}
